<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gkude">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="654321"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GKUDE">

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="123456"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:exported="false"/>
        <activity android:name=".CategoryActivity" android:exported="false"/>
        <activity android:name=".EntitySearchedActivity" android:exported="false"/>
        <activity android:name=".EntityViewActivity" android:exported="false"/>
        <activity android:name=".ProblemViewActivity" android:exported="false"/>
        <activity android:name=".EntityListViewActivity" android:exported="false"/>
        <meta-data
            android:name="DATABASE"
            android:value="entity.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.gkude.bean" />
    </application>

</manifest>